*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
color:#333;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#111;
color:white;
position:sticky;
top:0;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

nav a:hover{
color:#00adb5;
}


.home{
display:flex;
align-items:center;
justify-content:space-around;
height:90vh;
padding:40px;
background:linear-gradient(135deg,#00adb5,#0077b6);
color:white;
}

.home-text h1{
font-size:45px;
}

.home-text button{
margin-top:15px;
padding:10px 20px;
border:none;
background:#111;
color:white;
cursor:pointer;
}

.home-img img{
width:250px;
border-radius:50%;
}


section{
padding:80px;
text-align:center;
}


.skill{
width:60%;
margin:auto;
text-align:left;
}

.bar{
background:#ddd;
height:10px;
margin-bottom:20px;
}

.bar div{
height:10px;
background:#00adb5;
}

.html{width:90%;}
.css{width:80%;}
.c{width:75%;}
.python{width:70%;}


.project-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}


form{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,textarea{
padding:10px;
border:1px solid #ccc;
}

button{
padding:10px;
background:#00adb5;
border:none;
color:white;
cursor:pointer;
}

footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}
.social-icons{
margin-bottom:15px;
}

.social-icons a{
color:white;
font-size:24px;
margin:0 10px;
transition:0.3s;
}

.social-icons a:hover{
color:#00adb5;
transform:scale(1.2);
}